
connectsqlserver/.vs/connectsqlserver/v14/.suo
*.suo
*.cache
*.ide
connectsqlserver/connectsqlserver/obj/*
connectsqlserver/connectsqlserver/bin/*
DJCMNQ_Server/.vs/DJCMNQ_Server/v15/Server/sqlite3/storage.ide-shm
DJCMNQ_Server/DJCMNQ_Server/bin/*
DJCMNQ_Server/DJCMNQ_Server/obj/*