<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
  <appSettings>
    <add key="ZK1IP" value="172.22.1.33"></add>
    <add key="ZK2IP" value="172.22.1.32"></add>

<!--<add key="LocalIP1" value="172.22.1.33"></add>
    <add key="RemoteServer1_IP" value="172.22.1.32"></add>
    <add key="RemoteServer1_Port" value="8832"></add>
    -->    
    <add key="LocalIP1" value="127.0.0.1"></add>
    <add key="RemoteServer1_IP" value="127.0.0.1"></add>
    <add key="RemoteServer1_Port" value="8832"></add>

    <add key="UdpSock_IP1" value="172.22.1.32"></add>
    <add key="UdpSock_Port1" value="8832"></add>

    <add key="UdpSock_IP2" value="172.22.1.33"></add>
    <add key="UdpSock_Port2" value="8833"></add>
    
  </appSettings>  
</configuration>
